<div class="container-fluid bg-reg-color">
  <div class="container ">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="card reg-hd-bg set-margin">
          <div class="card-header reg-hd-bg">
            <h2 class="text-left  text-white">Manage Users </h2>
          </div>
          <div class="card-body">
            <div class="container set-margin-btn">
              <div class="row">
                <div class="col-md-4">
                  <button type="submit" class="btn btn-lg btn-block  btn-color text-white btn-hover">Add User</button>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-lg btn-block btn-color text-white btn-hover">Manage Users</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
