<div class="container-fluid pt-bg">
  <form (ngSubmit)="saveTreatment(treatment)" [formGroup]="treatment"  class="margin-bottom">
  <div class="row">
    <div class="col-md-12 bg-light">
      <span class="txt-position"><h3 style="color: #7f7f7f">Adding Diagnosis</h3></span>
      <div class="fl-bg">
        <span><button type="button" class="btn btn-success" style="text-decoration: none; color: white;"
                      data-toggle="modal" data-target="#exampleModalScrollable" (click)="getPatientId(treatment)">Check Patient Triage</button></span>
        <span>
          <button type="button" class="btn btn-success" style="text-decoration: none; color: white; margin-left: 10px;"  (click)="addPatientPrescription(treatment)"
                  data-toggle="modal" data-target="#exampleModal">Add Drug Prescription</button>
        </span>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label  class="text-color">Patient*</label>
          <ng-select dropdownPosition="auto" [selectOnTab]="true" placeholder="Select patient" virtualScroll="true"
                      formControlName="patient" (add)="onAdd(treatment)" >
            <ng-option *ngFor="let patient of patients" [value]="patient.id"  [disabled]="true">
              {{patient.patientMiddleName}} {{patient.patientFirstName}}  {{patient.patientLastName}}
            </ng-option>
          </ng-select>
    </div>
        <div class="error alert-warning" *ngIf="treatment.get('patient').hasError('required') && treatment.get('patient').touched">
          Patient Name should be recorded!
        </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="disease" class="text-color">Disease*</label>
      <input type="text" class="form-control" formControlName="disease" id="disease" placeholder="Record disease here">
    </div>
    <div class="error alert-warning" *ngIf="treatment.get('disease').hasError('required') && treatment.get('disease').touched">
      Patient disease details should be recorded!
    </div>
    <div class="error alert-warning" *ngIf="treatment.get('disease').hasError('minlength') && treatment.get('disease').touched">
      Minimum of 5 characters
    </div>
  </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label  class="text-color">Case Notes*</label>
<!--          <textarea class = "form-control" rows = "3" placeholder = "Patient case notes" id="caseNotes"-->
<!--          ></textarea>-->
          <ck-editor formControlName="caseNotes" name="editor1" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
        </div>
        <div class="error alert-warning" *ngIf="treatment.get('caseNotes').hasError('required') && treatment.get('caseNotes').touched">
          Please record patient records
        </div>
        <div class="error alert-warning" *ngIf="treatment.get('caseNotes').hasError('minlength') && treatment.get('caseNotes').touched">
          Minimum of 5 characters
        </div>
      </div>
    </div>

<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <div class="form-group">-->
<!--          <label for="drugPrescriptionOne" class="text-color">Drugs Prescription*</label>-->
<!--          <input type="text" class="form-control" formControlName="drugPrescriptionOne" id="drugPrescriptionOne"-->
<!--                 placeholder="Enter patient drug prescription">-->
<!--        </div>-->
<!--        <div class="error alert-warning" *ngIf="treatment.get('drugPrescriptionOne').hasError('required') && treatment.get('drugPrescriptionOne').touched">-->
<!--          Patient drug drescription details should be recorded!-->
<!--        </div>-->
<!--        <div class="error alert-warning" *ngIf="treatment.get('drugPrescriptionOne').hasError('minlength') && treatment.get('drugPrescriptionOne').touched">-->
<!--          Minimum of 5 characters-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="staffName" class="text-color">Doctor</label>
          <input type="text" class="form-control"  id="staffName" placeholder="{{doctorName}}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label  class="text-color">Diagnosis Date</label>
          <!--          <input type="date" formControlName="dateOfDiagnosis | date: 'fullDate' " class="form-control" id="dateOfDiagnosis">-->
          <div>
            <h6> <span>{{diagnosisDate | date : 'fullDate'}}</span></h6>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="row">-->
<!--      <div class="col-md-2"></div>-->
<!--      <div class="col-md-4"><button type="submit" class="btn btn-lg btn-block btn-color text-white btn-hover">Submit</button></div>-->
<!--      <div class="col-md-4"><button [routerLink]="['/main-dashboard/main-treatment/treatment']">cancel</button></div>-->
<!--      <div class="col-md-2"></div>-->
<!--    </div>-->

    <div class="row button-margin" style="padding-top: 10px;">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <button  *ngIf="modalState || treatment.valid" type="submit" [disabled]="treatment.invalid" class="btn btn-lg btn-block btn-color text-white btn-hover">Submit</button>
      </div>
      <div class="col-md-4">
        <button  (click)="goToPatientList()" class="btn btn-lg btn-block btn-color text-white btn-hover">Cancel</button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </form>

<!--  add drug prescription modal-->
  <div class="row">
    <form *ngIf="patientIdTwo" (ngSubmit)="addDrugPrescription(drugPrescriptionOne)" [formGroup]="drugPrescriptionOne"  class="margin-bottom">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Drug Prescription for  <span *ngIf="patientIdTwo">{{patientName}}</span> <span *ngIf="!patientIdTwo">&lt;not available&gt;</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="text-color">Drug(s) Name</label>
                    <ng-select dropdownPosition="auto" [selectOnTab]="true" placeholder="Select drug" virtualScroll="true"
                               formControlName="drugName">
                      <ng-option *ngFor="let drugInv of drugInventoryData" [value]="drugInv.drugName"  >
                        {{drugInv.drugName}} {{drugInv.barCodeId}}
                      </ng-option>
                    </ng-select>
                  </div>
                  <div class="error alert-warning" *ngIf="drugPrescriptionOne.get('drugName').hasError('required') && drugPrescriptionOne.get('drugName').touched">
                    Select drug name from list
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="text-color">Drug(s) Notes</label>
                    <textarea formControlName="drugNotes" class="form-control"   placeholder="Enter drug notes(optional)"> </textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <button type="button" (click)="clear()"   class="btn btn-block btn-color text-white btn-hover">Remove All</button>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                  <button type="button" (click)="addDrugDescriptionDetails(drugPrescriptionOne)" [disabled]="drugPrescriptionOne.invalid" class="btn btn-block btn-color text-white btn-hover">Add</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" [innerHTML]="savePatientDrugPrescription">
                  <span>{{savePatientDrugPrescription}}</span>
                </div>
              </div>

            <div *ngIf="!patientIdTwo">
              <h3 class="bg-warning">Please select patient name</h3>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" (click)="saveDrugPrescriptionOkay(drugPrescriptionOne)" [disabled]="drugPrescriptionOne.valid" class="btn btn-primary" data-dismiss="modal">Save & Close</button>
          </div>

        </div>
      </div>
    </div>
    </form>
  </div>

  <!-- Modal -->
  <div  class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Triage Information for <span *ngIf="patientId">{{patientName}}</span> <span *ngIf="!patientId">&lt;not available&gt;</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div  class="modal-body" >
          <table *ngIf="patientId" id="dtMaterialDesignExample" class="table table-responsive-lg  table-margin table-striped" cellspacing="0" width="100%">
            <thead class="thead-light">
            <tr>
              <th class="th-sm">Height (in CM)</th>
              <th class="th-sm">Weight (in Kg)</th>
              <th class="th-sm">Temperature (in <sup>0</sup>C)</th>
              <th class="th-sm">Blood Pressure (in mm Hg)</th>
              <th class="th-sm">Nurse</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patientData of getData">
              <td>{{patientData.patientHeight}}</td>
              <td>{{patientData.patientWeight}}</td>
              <td>{{patientData.patientTemperature}}</td>
              <td>{{patientData.patientBloodPressure}}</td>
              <td>{{patientData.staffName}}</td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="!patientId">
               <h3 class="bg-warning">Please select patient name</h3>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="turnOn()">Close</button>
<!--          <button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
