<div class="container-fluid bg-reg-color">
  <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="card reg-hd-bg set-margin">
           <div class="card-header reg-hd-bg ">
             <h2 class="text-left  text-white">Create User Account</h2>
           </div>
           <div class="card-body">
             <div class="container">
               <form >
                 <div class="row">
                   <div class="col-md-6">
                     <div class="form-group">
                       <label  class="text-white" for="firstName">First Name*</label>
                       <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" placeholder="Enter First Name" name="firstName">
                     </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group">
                       <label class="text-white" for="lastName">Last Name*</label>
                       <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" placeholder="Enter First Name" name="lastName">
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-md-6">
                     <div class="form-group">
                       <label class="text-white" for="middlename">Middle Name*</label>
                       <input type="text" class="form-control" id="middlename" aria-describedby="middlenameHelp" placeholder="Enter Middle Name" name="middlename">
                     </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group">
                       <label  class="text-white" for="country">Country</label>
                       <input type="text" class="form-control" id="country" aria-describedby="countryHelp" placeholder="Country" name="country">
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-md-6">
                     <div class="form-group">
                       <label class="text-white" for="emailaddress">Email Address*</label>
                       <input type="text" class="form-control" id="emailaddress" aria-describedby="emailaddressHelp" placeholder="Enter Email Address e.g user@email.com" name="emailaddress">
                     </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group">
                       <label  class="text-white" for="poBoxAddress">P.O Box Address</label>
                       <input type="text" class="form-control" id="poBoxAddress" aria-describedby="poBoxAddressHelp" placeholder="Enter P.O Box Address" name="poBoxAddress">
                     </div>
                   </div>
                 </div>

                 <div class="row">
                   <div class="col-md-6">
                     <div class="form-group">
                       <label  class="text-white" for="phoneNumber">Tel. No.*</label>
                       <input type="number" class="form-control" id="phoneNumber" aria-describedby="phoneNumberHelp" placeholder="Enter Telephone Number" name="phoneNumber">
                     </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group">
                       <label class="text-white" for="idNumber">ID Number*</label>
                       <input type="number" class="form-control" id="idNumber" aria-describedby="idNumberHelp" placeholder="Enter National Identity Number" name="idNumber">
                     </div>
                   </div>
                 </div>

                 <div class="row">
                   <div class="col-md-6">
                     <div class="form-group">
                       <label  class="text-white" for="county">County</label>
                       <input type="text" class="form-control" id="county" aria-describedby="countyHelp" placeholder="Enter Username" name="county">
                     </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group">
                       <label class="text-white" for="qualification">Qualification*</label>
                       <select class="browser-default custom-select" id="qualification">
                         <option selected>select user qualification</option>
                         <option value="doctor">Doctor</option>
                         <option value="nurse">Nurse</option>
                         <option value="lab_technician">Lab Technician</option>
                         <option value="pharmacist">Pharmacist</option>
                       </select>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-md-6">
                     <div class="form-group">
                       <label  class="text-white" for="username">UserName*</label>
                       <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter Username" name="username">
                       <small id="usernameHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
                     </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group">
                       <label class="text-white" for="password">Password*</label>
                       <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Enter Password" name="password">
                     </div>
                   </div>
                 </div>

                 <div class="row">
                   <div class="col-md-2"></div>
                   <div class="col-md-4">
                     <button type="submit" class="btn btn-lg btn-block btn-color text-white btn-hover">Submit</button>
                   </div>
                   <div class="col-md-4">
                     <button type="submit" class="btn btn-lg btn-block btn-color text-white btn-hover">Cancel</button>
                   </div>
                   <div class="col-md-2"></div>
                 </div>

               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
 </div>
</div>
