<div class="container-fluid bg-reg-color">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="card reg-hd-bg set-margin">
          <div class="card-header login-hd-bg">
            <h1 class="text-center  text-white">Error!!!</h1>
          </div>
          <div class="card-body">
              <div class="h2">{{errorMessage}} <i class="fas fa-exclamation-triangle"></i></div>
<!--            <button type="submit" class="btn btn-hover btn-lg  btn-color text-white  align-content-center">Login</button>-->
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

  </div>
</div>
