<div class="container-fluid pt-bg">
  <div class="row">
    <div class="col-md-12 bg-light">
      <h3 style="color: #7F7F7F">Authorization Error</h3>
    </div>
  </div>
  <div class="row" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="col-md-1"></div>
    <div class="col-md-10" >
        <div class="card bg-light text-dark">
          <div class="card-header">
            <h1>ERROR!!!</h1>
          </div>
          <div class="card-body">
            <h5 class="card-title"><h3>Insufficient Priviledges</h3></h5>
            <p class="card-text">Your Role does not allow access to this View!</p>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
