.bg-login-color {
  background-color: #7D8A97;
  margin-bottom: -16px;
}
.login-hd-bg {
  background-color: #273647 ;
}

.btn-color{
  background-color: #58BD9C;
}

.set-margin {
  margin: 82.5px 0px 82.5px 0px;
}
