<div class="container-fluid bg-login-color">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card login-hd-bg set-margin">
          <div class="card-header login-hd-bg">
            <h1 class="text-center  text-white">Login <i class="fas fa-lock"></i></h1>
          </div>
          <div class="card-body">
            <div class="alert alert-warning" *ngIf="loginForm.dirty && loginForm.invalid">
              Input cannot be empty!!
            </div>
            <form (ngSubmit)="!loginForm.invalid && handleLogin()" #loginForm="ngForm">

              <div class="form-group">
                <label class="text-white " for="username">Username</label>
                <input type="text" class="form-control form-control-lg" id="username" aria-describedby="usernameHelp" placeholder="Enter username" name="username"
                [(ngModel)]="username" required>
                <small id="usernameHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
              </div>
              <div class="form-group">
                <label class="text-white" for="password">Password</label>
                <input type="password" class="form-control form-control-lg"  name="password" id="password" placeholder="Password"
                [(ngModel)]="password" required>
              </div>
              <div *ngIf="invalidLogin" class="alert alert-danger" role="alert">
                <small class="text-danger" >{{errorMessage}}</small>
              </div>

              <br>
              <button  type="submit" class="btn btn-hover btn-lg btn-block btn-color text-white  align-content-center">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

  </div>
</div>
