<div class="container-fluid pt-bg">
  <div class="row">
    <div class="col-md-12 bg-light">
      <span class="txt-position"><h3 style="color: #7f7f7f">Lab Test Requests</h3></span>
    </div>
  </div>

  <div class="row" style="margin-bottom: 300px; ">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="align-content-center" style="margin-top: 10px;">
        <table id="dtMaterialDesignExample" class="table table-responsive-lg  table-margin table-striped" cellspacing="0" width="100%">
          <thead class="thead-light">
          <tr>
            <th class="th-sm">Patient</th>
            <th class="th-sm">Test Name</th>
            <th class="th-sm">Date</th>
            <th class="th-sm">Doctor</th>
            <th class="th-sm">Status</th>
            <th class="th-sm">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let labReq of labRequests; let i = index">
              <td *ngFor="let patient of labReq.patient">
                {{patient.patientFirstName}} {{patient.patientLastName}}
              </td>
            <td>{{labReq.testName}}</td>
            <td>{{labReq.dateOfRequest | date: 'fullDate'}}</td>
            <td>{{labReq.doctorName}}</td>
            <td><button class="btn bg-success text-white" [disabled]="true">Active</button></td>
<!--            <td class="bg-success text-white" style="border-radius: 5px; margin: 5px;"><span>Active</span></td>-->
            <td><button (click)="goToLab(i,labReq.id)" [disabled]="disablebutton[i]" class="btn btn-block btn-info">Process</button></td>
<!--            <td *ngIf="isId"><button [disabled]="status" (click)="goToLab(i,labReq.id)" class="btn btn-block btn-info">Processing...</button></td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-2"></div>

  </div>
</div>
