.pt-bg {
  background-color: white;
  margin-top: 10px;
  padding-bottom: 50px;

}

.margin-bottom {
  margin-bottom: 60px;
}

.text-color {
  color: black;
}

.button-margin {
  margin-top: 30px;
}

.btn-hover:hover {
  box-shadow: 1px 6px 20px 2px rgba(88,189,156,0.44);
}
.btn-color{
  background-color: #58BD9C;
}
.fl-bg {
  float: right;
  padding-top: 5px;

}

.txt-position {
  float: left;
}
