<div class="container-fluid bg-reg-color">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="card reg-hd-bg set-margin">
              <div class="card-header">
                <h1 class="text-left  text-white">Users <i class="fas fa-users"></i>
                  &nbsp;&nbsp;
                  <button class="justify-content-end" [routerLink]="['/registration-choice']" class="btn btn-lg btn-color text-white btn-hover">Back</button></h1>

              </div>
              <div class="card-body card-body-bg table-responsive">
                <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
                  <thead class="thead-light">
                  <tr>
                    <th class="th-sm">Username </th>
                    <th class="th-sm">First Name </th>
                    <th class="th-sm">Second Name  </th>
                    <th class="th-sm">Qualification  </th>
                    <th class="th-sm">Email Address </th>
                    <th class="th-sm">ID Number  </th>
                    <th class="th-sm">Phone Number</th>
                    <th class="th-sm"></th>
                    <th class="th-sm"></th>

                  </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let user of users">
                        <td>{{user.userName}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.roles}}</td>
                        <td>{{user.emailAddress}}</td>
                        <td>{{user.idNumber}}</td>
                        <td>{{user.phoneNumber}}</td>
                        <td><button (click)="updateUser(user.id)" class="btn btn-success">Update</button></td>
                        <td><button (click)="deleteUser(user.id)" class="btn btn-warning">Delete</button></td>
                      </tr>
                  </tbody>
<!--                  <tfoot>-->
<!--                  <tr>-->
<!--                    <th class="th-sm">Username </th>-->
<!--                    <th class="th-sm">First Name </th>-->
<!--                    <th class="th-sm">Second Name  </th>-->
<!--                  <th class="th-sm">Qualification  </th>-->
<!--                    <th class="th-sm">Email Address </th>-->
<!--                    <th class="th-sm">ID Number  </th>-->
<!--                    <th class="th-sm">Phone Number</th>-->
<!--                    <th class="th-sm"></th>-->
<!--                    <th class="th-sm"></th>-->
<!--                  </tr>-->
<!--                  </tfoot>-->
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
