<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class=" border-right side-bg" id="sidebar-wrapper">
    <div class="sidebar-heading list-hover last-item"><span [routerLink]="['/welcome']" class="text-white ">Dashboard</span></div>
    <div class="list-group list-group-flush last-item">
      <a [routerLink]="['/welcome']" class="list-group-item list-group-item-action dashboard-bd list-hover text-white side-bg"><i class="fas fa-procedures"></i> Patients</a>
      <a class="list-group-item list-group-item-action dashboard-bd list-hover text-white side-bg"><i class="fas fa-stethoscope"></i> Medication & Diagnosis</a>
      <a class="list-group-item list-group-item-action dashboard-bd list-hover text-white side-bg"><i class="fas fa-vials"></i> Laboratory</a>
      <a class="list-group-item list-group-item-action dashboard-bd list-hover text-white side-bg"><i class="fas fa-pills"></i> Pharmacy</a>
      <a class="list-group-item list-group-item-action dashboard-bd list-hover text-white side-bg"><i class="fas fa-book-medical"></i> Medical History</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" class="dashboard-bg">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
<!--      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>-->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="container-fluid ">
<!--      <h1 class="mt-4">Simple Sidebar</h1>-->
<!--      <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>-->
<!--      <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>-->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!--&lt;!&ndash; Menu Toggle Script &ndash;&gt;-->
<!--<script>-->
<!--  $("#menu-toggle").click(function(e) {-->
<!--    e.preventDefault();-->
<!--    $("#wrapper").toggleClass("toggled");-->
<!--  });-->
<!--</script>-->
